@import url("http://fonts.cdnfonts.com/css/gotham");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: none;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
@media (max-width: 765px) {
  html {
    font-size: 14px;
  }
}
body {
  width: 100%;
  font-family: "Gotham", sans-serif;
  background-color: #2a2c31;
  position: relative;
}
ul {
  padding: 0px;
}
.MainContainer {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  background-color: #2a2c31;
  padding: 0px 20px;
  gap: 2px;
}
@media (max-width: 992px) {
  .MainContainer {
    padding: 0px 10px;
  }
}
.NavContainer {
  background-color: #2a2c31b7;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}
.NavContainer h2 {
  font-size: 1.3rem;
  color: rgb(109, 4, 109);
  letter-spacing: 2px;
}
.NavContainer .image-container {
  height: 50px;
}
.BarIcon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}
svg {
  filter: invert(100%) sepia(0%) saturate(12%) hue-rotate(226deg)
    brightness(103%) contrast(103%);
}
svg:hover {
  filter: invert(90%) sepia(24%) saturate(7462%) hue-rotate(10deg)
    brightness(106%) contrast(94%);
}
.CloseIcon {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px;
}
.closeIconcontainer {
  height: 25px;
  width: 25px;
}
.closeIconcontainer svg {
  max-height: 100%;
}
.IconContainer {
  height: 25px;
  width: 25px;
  padding-top: 5px;
}
.Category {
  position: relative;
  width: 100%;
}
.Category h2 {
  margin-left: 10px;
  margin-bottom: 30px;
}

.Category li {
  padding: 15px;
}
@media (max-height: 765px) {
  .Category li {
    padding: 10px;
    cursor: pointer;
  }
}
.Category li:hover {
  background-color: #f2f2f2;
  border-radius: 25px;
}
p {
  color: black;
}
.Category li p,
.Category ul a {
  font-size: 1.1rem;
  margin: 0px;
  height: auto;
  font-weight: 600;
  color: crimson;
}
.styles_scroll-to-top__2A70v svg {
  /* background-color: #191919;
  right: 10px;
  bottom: 20px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 7px;
  width: 40px;
  height: 40px;
  transition: opacity 1s ease-in-out;
  box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
  border: none;
  outline: none; */
  filter: invert(0%) sepia(5%) saturate(7490%) hue-rotate(56deg) brightness(98%)
    contrast(100%);
}
h4 {
  color: #f2f2f2;
  cursor: pointer;
}
h5 {
  color: #f2f2f2;
}
.sarchBar {
  margin: 0px 0px 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.sarchBar button,
.sarchBar input {
  padding: 15px;
  border-radius: 25px;
  min-width: 100px;
  font-weight: 600;
  box-shadow: 0px 7px 10px 0px rgb(0 0 0 / 50%);

  /* text-align: center; */
}
.sarchBar button:hover {
  background-color: #000000b3;
}
.sarchBar button {
  cursor: pointer;
  background-color: #2a2c31;
  color: whitesmoke;
}
.sarchBar input {
  min-width: 200px;
  letter-spacing: 2px;
}
@media (min-width: 500px) {
  .sarchBar input {
    min-width: 320px;
  }
}
.Qoute {
  margin-bottom: 60px;
  padding: 20px;
  background-color: #0c0c0c;
  /* color: white; */
  display: flex;
  flex-direction: column;
}
.Qouat--Image {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  opacity: 0.4;
  left: 0px;
}
.Qouat--Image2 {
  position: absolute;
  width: 50px;
  height: 50px;
  /* bottom: 0px; */
  opacity: 0.4;
  right: -5px;
  transform: rotate(180deg);
  display: inline;
}
.Qoute button {
  padding: 10px;
  width: 200px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  color: purple;
  transition: 0.5s ease;
  background-color: white;
}
.Qoute button:hover {
  background-color: #a1a1a1;
  transform: scale(0.9);
}
.Quate-Text {
  padding: 20px;
  position: relative;
}
.Quate-Text p {
  font-size: 0.9rem;
  font-weight: 200;
  color: white;
  position: relative;
  width: fit-content;
}
.Quate-Text p span,
.yellow {
  font-size: 1.1rem;
  font-weight: 600;
  color: yellow;
  line-height: 1.7;
}
.Quate-Text p .crimson {
  color: crimson;
}
.Quate-Text p .purpel {
  color: purple;
}
.description {
  position: absolute;
  font-size: 0.7rem;
  top: 5px;
  right: 10px;
  padding: 5px;
  color: #0c0c0c;
  z-index: 20;
  min-width: 170px;
  font-weight: 600;
  background-color: #f2f2f2;
  border-radius: 15px;
  opacity: 0;
}
.Details {
  width: 100%;
  background-color: #f2f2f2;
  margin: 0px 10px;
  padding: 20px 40px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 10px #313638ba;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.ImageContainer--Details {
  width: 219px;
  position: relative;
}
.ImageContainer--Details img {
  max-width: 100%;
  border: none;
  border-radius: 15px;
  margin: auto;
}
.text--Details {
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  justify-self: start;
  max-width: 300px;
}
.text--Details h3 {
  font-size: 1.4rem;
}
.text--Details p {
  font-size: 1rem;
}
.text--Details h3 span {
  color: purple;
  font-size: 1.4rem;
}
@media (max-width: 700px) {
  .Details {
    justify-content: center;
    gap: 25px;
  }
  .text--Details {
    padding-left: 10px;
  }
}
.closeIcon--Details {
  position: absolute;
  top: 30px;
  right: 30px;
}
svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
  filter: invert(0%) sepia(8%) saturate(7469%) hue-rotate(97deg)
    brightness(104%) contrast(106%);
}
.trailerVideo {
  width: 70%;
  max-width: 500px;
}
.premiumOrFree__Homepage {
  position: absolute;
  font-size: 0.7rem;
  font-weight: 600;
  color: #000000b3;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: gold;
  border-radius: 0px 0px 15px 15px;
}
h1,
h2,
h3 {
  color: gold;
}
